body {
    text-align:center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    text-emphasis: filled red;
}

.section-container {
    display: table;
    float:center;
    width: 100%;
    margin: 0;
    padding: 0;
    width: 99.9%;
}

.section {
    background-color:grey;
    font-size: medium;
    display: table-cell;
    float:center;
    border: 2px solid black;
    border-radius: 4px;
    width: 33.3%;
}

