body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.sections {
    display: table-column-group;
}

.section1 {
    background-color:grey;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    display: table-column;
    float:left;
}

.section2 {
    background-color:grey;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    display: table-column;
    float:center
}

.section3 {
    background-color:grey;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    display: table-column;
    float:right
}