body {
    text-align:center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url("images/calico-fur-pattern.jpg");
    background-color:white;
    float: center;
}

.header {
    font-size: 25px;
    float:center;
    border: 2px solid black;
    border-radius: 4px;
    margin: 0;
    padding: 0;
    background-color:rgba(119, 119, 119, 0.664);
    
}
.navigational1 {
    font-size: 25px;
    margin: auto;
    width: 20;
    padding: 10px;
    border: 2px solid black;
    border-radius: 4px;
    background: rgba(119, 119, 119, 0.664);
    display: table;
    float: right
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color:grey
}

.section-container {
    display: table;
    float:center;
    width: 100%;
    margin: 0;
    padding: 0;
    width: 99.9%;
}

.section {
    background-color:rgba(119, 119, 119, 0.664);
    font-size: medium;
    display: table-cell;
    float:center;
    border: 2px solid black;
    border-radius: 4px;
    width: 33.3%;
}

.footer {
    float:center;
    width: 100%;
    margin: 0;
    padding: 0;
    width:20%;
}

.blog {
    font-size: 25px;
    margin: auto;
    width: 50%;
    padding: 10px;
    border: 2px solid black;
    border-radius: 4px;
    background: rgba(119, 119, 119, 0.664);
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 300px;
    background-color: blue;
    color: yellow;
    text-align: center;
    border-radius: 3px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  .buttontests {
    background-color:rgba(197, 26, 26, 0.767);
    font-size: medium;
    display: table-cell;
    float:center;
    border: 2px solid black;
    border-radius: 4px;
    width: 33.3%;
  }


  table, th, td {
    margin: auto;
    width: 50%;
    padding: 10px;
    background-color:rgba(119, 119, 119, 0.664);
    border: 1px solid black;
    border-radius: 6px;
  }

  h1 {
      margin: auto;
      width: 50%;
      padding: 10px;
      background-color:rgba(119, 119, 119, 0.664);
      border: 1px solid black;
      border-radius: 6px;
  }

